body {
    background: #e9ccdc;
    font: normal 50 pt Courier;
    text-align: center;
}
.titulo {
    color: rgb(102, 5, 86);
    border-radius: 100px;
    margin-top: 100px;
}
.botoes {
    background: rgba(130, 90, 143, 0.349);
    color: #ebe5e4ef;
    border-style:outset;
    border-color: rgb(53, 1, 53);
    height: 60px;
    width: 90px;
    font: bold 18px arial, sans-serif;
    text-shadow: none;
   
   
    
}